---
import Map from "../components/Map";

const handleSTL = (blob: Blob) => {
	console.log('STL OK', blob);
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>City 2 3D</title>
	</head>
	<body>
		<style>
			* {
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				background-color: #9dceff;
				color: #104273;
			}
			.main {
				display: block;
				justify-content: center;
				text-align: center;
			}
		</style>
		<div class="main">
			<h1>City 2 3D Print</h1>
			<h2>Select an area:</h2>
			<p><i>It takes a while! Wait:)</i></p>
		</div>
		<Map client:only="react" onSTLGenerated={(blob) => console.log('STL BLOB: ', blob)} />
	</body>
</html>
