---
import Map from "../components/Map.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>City 2 3D</title>
	</head>
	<body>
		<h1>City 2 3D</h1>
		<h2>Select an area:</h2>
		<Map client:only="react" />
	</body>
</html>
